/*=========================== KENT START ===========================*/
* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

body {
    background: #796112;
    overflow-x: hidden;
    background: linear-gradient(to right, #643435 0%, #E16A54 43%, #F39E60 100%);
    padding: 0;
    margin: 0;
}

div+br {
    display: none;
}

img.imgBanner {
    width: 100%;
    height: 48vw;
    object-fit: cover; /* Crops and fills the area */
    object-position: center;
    pointer-events: none;
    overflow: hidden;
}

h1#title {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    padding: 10px calc(100% - 270px) 20px 20px;
    width: 250px;
    background: linear-gradient(135deg, #643435 15%, #E16A54 50%, #F39E60 100%);
    margin: 0;
    text-shadow: #501212 0 -1px 4px, #230d0f 0 -2px 10px, #180f06 0 -10px 20px, red 0 -18px 40px;

    font-size: 22px;
    color: white;
}

h1#title::after {
    position: absolute;
    top: 0%;
    margin: 0 auto;
    margin-top: calc(15% + 87px);
    padding: 0;
    left: calc(50% - 35vw);
    font-size: 4vw;

    content: "Vinze and Baboy's Coffee Shop";
}


header hr {
    width: 200px;
    border: none;
    height: 4px;
    background-color: brown;
    margin-left: 43px;
    margin-top: -15px;
}

div.navBar {
    font-size: 20px;
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    width: 350px;
    height: 77px;
}

a.navigation {
    border-radius: 5px;
    text-decoration: none;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px;
    margin: auto;
}

a.navigation:hover{
    background: brown;
    color: white;
}

.home a[href="home.html"], .order a[href="order.html"], .about a[href="about.html"]{
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}

@media only screen and (max-width: 850px) {
    h1#title {
        text-align: center;
        font-size: 23px;
        padding: 10px calc(100% - 270px) 20px 20px;
        margin: 0;
        display: flex;
        width: 250px;
        text-shadow: #501212 0 -1px 1px, #230d0f 0 -2px 2px, #180f06 0 -5px 10px, red 0 -9px 20px;
        font-weight: bold;
    }

    div.navBar {
        max-width: calc(100% - 275px);
    }
}

p#welcome {
    position: absolute;
    font-weight: bold;
    padding: 0 13vw;
    padding-top: 42vw;
    text-shadow: 0 0px 3px #000000 ,  0 -4px 1px #000000, 0 0px 2vw  #000000, -1vw -1vw 1vw  #000000 ;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 2vw;
}

a[href="#bottomPage"], a[href="#title"] {
    border: solid 1px black;
    display: block;
    text-align: center;
}

footer {
    background-color: #5C2C2D; 
    color: #FFD8B1; 
    text-align: center;
    padding: 5px;
    font-family: 'Georgia', serif;
}

.contacts {
    font-size: 14px;
    color: #F39E60;
    margin-bottom: 10px;
}

footer p {
    font-size: 20px;
    opacity: 0.85;
}

footer::before {
    content: "";
    display: block;
    height: 4px;
    background: linear-gradient(to right, #E16A54, #643435);
    margin-bottom: 10px;
}


footer:hover {
    background-color: #6F3B3C;
    transition: 0.3s ease-in-out;
}



/*=========================== KENT END ===========================*/



/*=========================== KENNETH START ===========================*/


/* For Menu ni Siya hehe */



#coffee_choices {
    border: 0.1vw solid #ffffff;
    border-radius: 3vw;
    max-width: 80%;
    margin: 0 auto; 
    background: linear-gradient(135deg, #643435 0%, #E16A54 43%, #F39E60 100%);
    padding: 2vw;
}

#coffee_choices td {
    padding: 1vw;
    text-align: center;
    width: 10vw;
}

.coffeeTitle {
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: bold;
    padding: 1vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: #fff1f1 0 -1px 4px, #fff8f9 0 -2px 10px, #bf670f 0 -10px 20px, #f39e60 0 -18px 40px;
    border-radius: 1vw;
    letter-spacing: 2vw;
}

.label {
    font-size: 1.5vw;
    color: white;
    text-shadow: #000000 2px -1px 5px;
}

.coffeeImg {
    width: 11vw;
    max-width: 10vw;
    min-width: 10vw; 
    height: 10vw; 
    border-radius: 1vw;
    display: block;
    margin: 5px auto; 
    transition: all 0.3s ease-in-out ;
}

.coffeeImg:hover {
    scale: 1.2;
}

form {
    background: #643435;
    background: -moz-linear-gradient(top, #643435 0%, #E16A54 100%, #43272C 100%);
    background: -webkit-linear-gradient(top, #643435 0%, #E16A54 100%, #43272C 100%);
    background: linear-gradient(to bottom, #643435 0%, #E16A54 100%, #43272C 100%);
    text-align: center;
}

#tagline {
    font-size: 1.5vw;
    font-style: italic;
    color: whitesmoke;
    text-shadow: -5px 5px 5px black;
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
}


/* Section Title */
.coffee h2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    color: #FFF;
    border:0.1vw solid rgb(255, 255, 255);
    border-radius: 1vw;
    background: linear-gradient(135deg, #643435 15%, #E16A54 50%, #F39E60 100%);
    text-shadow: #fff1f1 0 -1px 4px, #fff8f9 0 -2px 10px, #bf670f 0 -10px 20px, #f39e60 0 -18px 40px;
    box-shadow:  #000000 0 0px 4px,  #000000 0 -4px 10px;
    position: relative;
    text-align: center;
}

.order .coffee h2 {
    max-width: 30%;
    font-size: 3vw;
    font-weight: strong;
    letter-spacing: 3vw;
    padding: 0vw 0vw 0.5vw 3vw;
    margin: 2vw auto -8vw auto;
}


.home .coffee h2 {
    font-size: 2vw;
    max-width: 30%;
    letter-spacing: 0.5vw;
    padding: 1vw 0vw 1vw 0.8vw;
    margin: 2vw auto -10vw auto;
    
}


/* Table Container */
#coffee_choices {
    border: 0.1vw solid #ffffff;
    border-radius: 3vw;
    max-width: 80%;
    margin: 0 auto; 
    background: linear-gradient(135deg, #643435 0%, #E16A54 43%, #F39E60 100%);
    padding: 2vw;
    padding-top: 10vw;
}

#coffee_choices td {
    padding: 1vw;
    text-align: center;
    width: 10vw;
    vertical-align: top;
}

.coffeeTitle {
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: bold;
    padding: 1vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: #fff1f1 0 -1px 4px, #fff8f9 0 -2px 10px, #bf670f 0 -10px 20px, #f39e60 0 -18px 40px;
    border-radius: 1vw;
    letter-spacing: 2vw;
}

.coffeeTitle::before{
    content: "a";
    font-size: 0.1vw;
    color: #00000080;
}

.label {
    font-size: 1.5vw;
    color: white;
    text-shadow: #000000 2px -1px 5px;
}

.coffeeImg {
    width: 11vw;
    max-width: 10vw;
    min-width: 10vw; 
    height: 10vw; 
    border-radius: 1vw;
    display: block;
    margin: 5px auto; 
}

form {
    background: #643435;
    background: -moz-linear-gradient(top, #643435 0%, #E16A54 100%, #43272C 100%);
    background: -webkit-linear-gradient(top, #643435 0%, #E16A54 100%, #43272C 100%);
    background: linear-gradient(to bottom, #643435 0%, #E16A54 100%, #43272C 100%);
    text-align: center;
    border: 1px solid black;
    border-radius: 2vw;
    width: 40%;
    margin: 0 auto;
    margin-top: 2vw;
    padding: 1vw;
    margin-bottom: 2vw;
    gap: 3vw;
}

form label,
form input,
form select {
    margin-bottom: 2vw; 
}

label {
    color: white;
    font-size: 1.5vw;
    text-shadow: 2px 2px 1px black;
}

input {
    width: 15vw;
    max-width: 15vw;
    height: 2vw;
    max-height: 2vw;
    font-size: 1vw;
    text-align: center;
    font-weight: bold;
    background-color: #daac8c;
    color: white;
    font-size: 1vw;
    text-shadow: 1px 1px 3px black;
    transition: all 0.3s ease-in-out ;
}

input:hover {
    background-color: #f39e60;
}

select {
    background-color: #43272C;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}


input[type="submit"] {
    color:white;
    background-color: #43272C;
    text-shadow: 1px 1px 2px black;
    max-width: 7vw;
    text-align: center;
    border-radius: 1vw;
    transition: all 0.3s ease-in-out ;
}

input[type="submit"]:hover {
    background-color: #f39e60;
    border: 0.15vw solid white; 
    background: #643435;
    background: -moz-linear-gradient(top, #643435 0%, #E16A54 100%, #43272C 100%);
    background: -webkit-linear-gradient(top, #643435 0%, #E16A54 100%, #43272C 100%);
    background: linear-gradient(to bottom, #643435 0%, #E16A54 100%, #43272C 100%);
}


select {
    width: 15vw;
    max-width: 15vw;
    height: 2vw;
    max-height: 2vw;
    font-size: 1vw;
    color: white;
    text-shadow: 1px 1px 2px black;
    background-color: #43272C;
    text-align: center;
    border-radius: 0.5vw;
    transition: all 0.3s ease-in-out ;

}


select:hover {
    color: white;
    text-shadow: 1px 1px 2px black;
    background-color: #f39e60;
    border: 0.15vw solid white; 
}


.home {
    ol {
    z-index: 2;
    background: linear-gradient(135deg, #643435 15%, #E16A54 50%, #F39E60 100%);
    padding: 2vw;
    padding-top: 12vw;
    border-radius: 2vw;
    width: 80vw;
    margin: 0 auto;
    list-style: none;
    counter-reset: list-counter;
    border: 0.2vw solid white;

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 2 columns */
    gap: 2vw;

    }

    ol li {
    counter-increment: list-counter; /* Increments counter for each <li> */
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5vw
    }

    li::before{
    margin-left: 2vw;
    content: "#"counter(list-counter);
    font-size: 3vw;
    font-style: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    text-shadow: #fff1f1 0 -1px 4px, #fff8f9 0 -2px 10px, #bf670f 0 -10px 20px, #f39e60 0 -18px 40px;
    }

    li {
    border: 0.2vw solid #A4B4CB;
    text-align: justify;
    background-color: rgb(100, 52, 53, 0.5);
    margin-bottom: 1vw;
    border-radius: 2vw;
    padding: 1vw;
    color: white;
    font-style: italic;
    font-size: 1.2vw;
    font-family: 'Poppins';
    letter-spacing: 0.2vw;
    text-shadow: #fff1f1 0 -1px 4px, #fff8f9 0 -2px 10px, #bf670f 0 -10px 20px, #f39e60 0 -18px 40px;
    }
}



/*  ORDER NOW BUTTON */


button {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    color: #FFF;
    border:0.2vw solid rgb(0, 0, 0);
    border-radius: 1vw;
    background: linear-gradient(135deg, #643435 15%, #E16A54 50%, #F39E60 100%);
    text-shadow: #fff1f1 0 -1px 4px, #fff8f9 0 -2px 10px, #bf670f 0 -10px 20px, #f39e60 0 -18px 40px;
    box-shadow:  #000000 0 0px 4px,  #000000 0 -4px 10px;

    max-width: 30%;
    font-size: 2vw;
    font-weight: strong;
    padding: 0vw 1vw 0.5vw 1vw;
    transition: all 0.1s ease-in-out ;

    display: block;
    margin: 2vw auto ; 
    text-align: center;

    
    text-decoration: none;
}

button:hover{
    border:0.2vw solid rgb(255, 255, 255);
    box-shadow:  #ffffff 0 0px 4px,  #ffffff 0 -4px 10px;
    scale: 1.2;
    font-weight: bold;
}

a {
    text-decoration: none; /*para madula ang blue sa button cause by 'a'*/
}

span {
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    text-shadow: #fff1f1 0 -1px 4px, #fff8f9 0 -2px 10px, #bf670f 0 -10px 20px, #f39e60 0 -18px 40px;
    letter-spacing: 0.3vw;
}

.coffee p {
    display: block;
    margin: 3vw auto;
    color: white;
    text-shadow: 0.1vw 0.1vw 1vw black, 0.1vw 0.1vw 3vw black, 0.1vw 0.3vw 1vw black;
    background-color: hsl(0, 0%, 100%, 10%);
    padding: 2vw;
    border-radius: 1vw;
    box-shadow:  #ffffff 0 0px 4px,  #ffffff 0 -0.2vw 10px;
    
}
.order .coffee #tagline{
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding: 0.5vw;
}

.definition {
    font-size: 1.5vw;
    max-width: 80vw;
    text-align: justify;
}

#banner + .definition {
    text-align: center;
    font-size: 1.5vw;
    max-width: 60vw;
    padding: 1vw;
}


[href="#bottomPage"], 
[href="#title"] {
    background: linear-gradient(135deg, #643435 15%, #E16A54 50%, #F39E60 100%);
    padding: 0.5vw 0.5vw;
    max-width: 10vw;
    margin: 0;
    text-shadow: #501212 0 -1px 4px, #230d0f 0 -2px 10px, #180f06 0 -10px 20px, red 0 -18px 40px;
    font-weight: bold;
    font-size: 1vw;
    color: white;
    margin: 2vw auto 2vw auto;
    border-radius: 1vw;
    transition: all 0.1s ease-in-out;
}

img[src="Images/CoffeeDrop.jpg"],
img[src="Images/CoffeeCup.jpg"]{
    display: block;
    margin: 0 auto;
    margin-bottom: 3vw;
    border: 0.2vw solid black;
    padding: 2vw;
    background-color: #9e4737;
    width: 30vw;
    max-width: 80vw; 
    max-height: 30w;
    border-radius: 2vw; 
    box-shadow: 0.8vw 0.8vw 1vw #000000, 1vw 1vw 0.2vw #000000, 1.2vw 1.2vw 0.2vw #171414, 1.4vw 1.4vw 0.2vw #171414;
}

[href="#bottomPage"]:hover,
[href="#title"]:hover {
    border:0.2vw solid rgb(255, 255, 255);
    box-shadow:  #ffffff 0 0px 4px,  #ffffff 0 -4px 10px;
    scale: 1.2;
    font-weight: bold;
    text-shadow: #fff1f1 0 -1px 4px, #fff8f9 0 -2px 10px, #bf670f 0 -10px 20px, #f39e60 0 -18px 40px;
}




/*=========================== KENNETH END ===========================*/

/*=========================== MARK START ==========================*/
/* ABOUT ===========================================================*/ 
.about br + div.coffee{
    display: flex;
}

/* Image banner (BIG Coffee Picture) */
.about .coffee img#banner.imgBanner {
    border: soid 10px #FFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 3vw;
    margin: 2vw;
    
    border-radius: 50%;
    
    width: 35vw; 
    height: 30vw;
    padding: 3vw;
}
/* Welcome to Vinze and Baboy's Mesage */
.about br + .coffee p {
    background: -webkit-repeating-linear-gradient();
    margin: auto 5vw;
    font-size: 3vw;
    
    text-align: center;
}


/* Favorite Coffee Videos */
.about ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
}

/* .about ul li {
    object-fit: cover;
    margin-right: 5%;
} */

.about ul li iframe.coffeeVideo{
    height: 30vw;
    width : 33vw;
}

.about table{
    background: #9f5255;
}

/*Favorite coffee and meet the team text */
.about h2#about{
    margin: 0 auto;
    font-family: 'Arial Black', sans-serif;
    width: 100vw;
    font-size: 3vw;
    max-width: 100vw;

    word-spacing: 0.75vw;
    letter-spacing: 0.2vw;

    text-transform: uppercase;
    font-size: 2vw;
    padding: 1vw;
    color: #FFF;
    border:0.1vw solid black;
    border-radius: 0vw;
    background: linear-gradient(135deg, #643435 15%, #E16A54 50%, #F39E60 100%);
    text-shadow: #fff1f1 0 -1px 4px, #fff8f9 0 -2px 10px, #bf670f 0 -10px 20px, #f39e60 0 -18px 40px;
}

/* Meet the Team */
.about table td{
    height:20vw;
    border-radius: 1vw;
}

.about table td.label{
    color: white;
    text-align: center;
    width:17%;
    height:25%;
}

.about table td img{
    border-radius: 1vw;
    border: 1px solid #000000;
    width: 100%;
    height:100% ;
    object-fit: cover;
}
/*=========================== MARK END ===========================*/

/*=========================== JASMINE START ===========================*/
/*=========================== JASMINE END ===========================*/

/* 
Instructions:

LABORATORY EXERCISE #4
Your task is to edit this CSS file and design the different web pages (delete the dummy/test code). 
You are NOT allowed to modify/change the HTML files.

Tips: 
1. There are some elements that have no classes at all (such as the list of steps in making coffee), to style them, 
you can use contextual selectors or attribute selectors to select them for styling
2. Just with any web design project, it's best to draft a wireframe first before you start working with the CSS.
3. You do not have to select all the classes/ids in the web pages; 
the main goal is to create a website that is both visually appealing and user-friendly.
*/